:root {
  --recursica-accordion-color-label: var(--recursica-color-on-background-high-emphasis);
  --recursica-accordion-color-chevron: var(--recursica-color-on-background-medium-emphasis);
  --recursica-accordion-color-stroke: var(--recursica-color-stroke-default);
  --recursica-accordion-size-padding: var(--recursica-size-spacer-2x);
  --recursica-accordion-size-spacing: var(--recursica-size-spacer-5x);
  --recursica-accordion-size-min-width: 220px;
  --recursica-accordion-size-max-width: 464px;
  --recursica-accordion-size-height: 56px;
  --recursica-accordion-size-chevron: 24px;
  --recursica-action-bar-color-background: var(--recursica-color-surface-default);
  --recursica-action-bar-color-stroke: var(--recursica-color-stroke-default);
  --recursica-action-bar-size-vertical-padding: var(--recursica-size-spacer-2x);
  --recursica-action-bar-size-horizontal-padding: var(--recursica-size-spacer-default);
  --recursica-action-bar-size-action-button-spacing: var(--recursica-size-spacer-default);
  --recursica-arise-monthly-challenge-card-color-background: var(--recursica-color-surface-default);
  --recursica-arise-monthly-challenge-card-color-background-countdown: var(--recursica-color-neutral-default);
  --recursica-arise-monthly-challenge-card-color-text-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-arise-monthly-challenge-card-color-text-subtle: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-arise-monthly-challenge-card-color-text-countdown: var(--recursica-color-on-neutral-default-high-emphasis);
  --recursica-arise-monthly-challenge-card-color-stroke: var(--recursica-color-stroke-default);
  --recursica-arise-monthly-challenge-card-size-vertical-padding: var(--recursica-size-spacer-2x);
  --recursica-arise-monthly-challenge-card-size-horizontal-padding-small: var(--recursica-size-spacer-2x);
  --recursica-arise-monthly-challenge-card-size-horizontal-padding-large: var(--recursica-size-spacer-3x);
  --recursica-arise-monthly-challenge-card-size-spacing-small: var(--recursica-size-spacer-default);
  --recursica-arise-monthly-challenge-card-size-spacing-medium: var(--recursica-size-spacer-2x);
  --recursica-arise-monthly-challenge-card-size-spacing-large: var(--recursica-size-spacer-3x);
  --recursica-arise-monthly-challenge-card-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-arise-monthly-challenge-card-size-desktop-min-width: 520px;
  --recursica-arise-monthly-challenge-card-size-mobile-min-width: 280px;
  --recursica-arise-offers-color-background: var(--recursica-color-surface-default);
  --recursica-arise-offers-color-text: var(--recursica-color-on-surface-high-emphasis);
  --recursica-arise-offers-color-stroke: var(--recursica-color-stroke-default);
  --recursica-arise-offers-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-arise-offers-size-spacing-small: var(--recursica-size-spacer-default);
  --recursica-arise-offers-size-spacing-medium: var(--recursica-size-spacer-3x);
  --recursica-arise-offers-size-spacing-large: var(--recursica-size-spacer-4x);
  --recursica-arise-offers-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-arise-offers-size-vertical-padding: var(--recursica-size-spacer-3x);
  --recursica-arise-offers-size-desktop-min-width: 696px;
  --recursica-arise-offers-size-min-width-mobile: 280px;
  --recursica-arise-rewards-card-color-background: var(--recursica-color-surface-default);
  --recursica-arise-rewards-card-color-stroke: var(--recursica-color-stroke-default);
  --recursica-arise-rewards-card-color-reward-progress-base: var(--recursica-color-stroke-default);
  --recursica-arise-rewards-card-color-reward-progress: var(--recursica-color-stroke-selected);
  --recursica-arise-rewards-card-color-text-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-arise-rewards-card-color-text-subtle: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-arise-rewards-card-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-arise-rewards-card-size-padding: var(--recursica-size-spacer-2x);
  --recursica-arise-rewards-card-size-horizontal-spacing: var(--recursica-size-spacer-3x);
  --recursica-arise-rewards-card-size-vertical-spacing: var(--recursica-size-spacer-1-5x);
  --recursica-arise-rewards-card-size-desktop-max-width: 600px;
  --recursica-arise-rewards-card-size-mobile-max-width: 300px;
  --recursica-arise-welcome-color-background: var(--recursica-color-1-scale-50);
  --recursica-arise-welcome-color-background-perks: var(--recursica-color-1-scale-100);
  --recursica-arise-welcome-color-text-default: var(--recursica-color-on-1-scale-050-high-emphasis);
  --recursica-arise-welcome-color-text-perks: var(--recursica-color-on-1-scale-100-high-emphasis);
  --recursica-arise-welcome-color-icon-color: var(--recursica-color-on-1-scale-100-high-emphasis);
  --recursica-arise-welcome-size-desktop-horizontal-padding: var(--recursica-size-spacer-4x);
  --recursica-arise-welcome-size-mobile-horizontal-padding: var(--recursica-elevation-y-axis-2x);
  --recursica-arise-welcome-size-vertical-padding: var(--recursica-size-spacer-3x);
  --recursica-arise-welcome-size-vertical-padding-perks: var(--recursica-size-spacer-2x);
  --recursica-arise-welcome-size-vertical-spacing: var(--recursica-size-spacer-3x);
  --recursica-arise-welcome-size-spacing-perks-mobile: var(--recursica-size-spacer-3x);
  --recursica-arise-welcome-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-arise-welcome-size-icon-size: 20px;
  --recursica-arise-welcome-size-desktop-min-width: 696px;
  --recursica-arise-welcome-size-mobile-min-width: 280px;
  --recursica-avatar-color-background-contained: var(--recursica-color-1-scale-default);
  --recursica-avatar-color-background-outline: var(--recursica-color-surface-default);
  --recursica-avatar-color-stroke-contained: var(--recursica-color-on-1-scale-default-high-emphasis);
  --recursica-avatar-color-stroke-outline: var(--recursica-color-stroke-default);
  --recursica-avatar-color-label-contained: var(--recursica-color-on-1-scale-default-high-emphasis);
  --recursica-avatar-color-label-outline: var(--recursica-color-1-scale-default);
  --recursica-avatar-size-small: 24px;
  --recursica-avatar-size-default: 32px;
  --recursica-avatar-size-large: 40px;
  --recursica-avatar-size-icon-size: 20px;
  --recursica-badge-color-background-default: var(--recursica-color-surface-default);
  --recursica-badge-color-background-primary: var(--recursica-color-1-scale-default);
  --recursica-badge-color-background-accent: var(--recursica-color-4-scale-default);
  --recursica-badge-color-background-alert: var(--recursica-color-alert-default);
  --recursica-badge-color-background-success: var(--recursica-color-success-default);
  --recursica-badge-color-stroke-default: var(--recursica-color-stroke-default);
  --recursica-badge-color-label-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-badge-color-label-primary: var(--recursica-color-on-1-scale-default-high-emphasis);
  --recursica-badge-color-label-accent: var(--recursica-color-on-4-scale-default-high-emphasis);
  --recursica-badge-color-label-alert: var(--recursica-color-on-alert-default-high-emphasis);
  --recursica-badge-color-label-success: var(--recursica-color-on-success-default-high-emphasis);
  --recursica-badge-size-counter-horizontal-padding: var(--recursica-size-spacer-0-5x);
  --recursica-badge-size-message-horizontal-padding: var(--recursica-size-spacer-default);
  --recursica-badge-size-large-vertical-padding: var(--recursica-size-spacer-0-5x);
  --recursica-badge-size-status-radius: var(--recursica-size-border-radius-0x);
  --recursica-badge-size-counter-radius: var(--recursica-size-border-radius-2x);
  --recursica-badge-size-default-height: 16px;
  --recursica-badge-size-large-height: 24px;
  --recursica-badge-size-default-min-width: 16px;
  --recursica-badge-size-large-min-width: 24px;
  --recursica-banner-color-background: var(--recursica-color-surface-default);
  --recursica-banner-color-stroke: var(--recursica-color-stroke-default);
  --recursica-banner-color-text: var(--recursica-color-on-surface-high-emphasis);
  --recursica-banner-size-content-spacing: var(--recursica-size-spacer-2x);
  --recursica-banner-size-vertical-padding: var(--recursica-size-spacer-2x);
  --recursica-breadcrumb-color-clickable: var(--recursica-color-on-background-interactive-text-default);
  --recursica-breadcrumb-color-unclickable: var(--recursica-color-on-background-high-emphasis);
  --recursica-breadcrumb-size-padding: var(--recursica-size-spacer-default);
  --recursica-breadcrumb-size-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-breadcrumb-size-icon-size: 20px;
  --recursica-button-color-background-contained: var(--recursica-color-interactive-default);
  --recursica-button-color-background-contained-hover: var(--recursica-color-interactive-hover);
  --recursica-button-color-background-contained-disabled: var(--recursica-color-interactive-disabled);
  --recursica-button-color-label-contained-enabled: var(--recursica-color-on-interactive-default);
  --recursica-button-color-label-contained-disabled: var(--recursica-color-on-interactive-disabled);
  --recursica-button-color-outline-enabled: var(--recursica-color-on-background-interactive-text-default);
  --recursica-button-color-outline-hover: var(--recursica-color-on-background-interactive-text-hover);
  --recursica-button-color-outline-disabled: var(--recursica-color-on-background-interactive-text-disabled);
  --recursica-button-color-label-text-enabled: var(--recursica-color-on-background-interactive-text-default);
  --recursica-button-color-label-text-hover: var(--recursica-color-on-background-interactive-text-hover);
  --recursica-button-color-label-text-disabled: var(--recursica-color-on-background-interactive-text-disabled);
  --recursica-button-color-outline-on-alert-enabled: var(--recursica-color-on-alert-default-interactive-text-default);
  --recursica-button-color-outline-on-alert-hover: var(--recursica-color-on-alert-default-interactive-text-hover);
  --recursica-button-color-outline-on-alert-disabled: var(--recursica-color-on-alert-default-interactive-text-disabled);
  --recursica-button-color-label-text-on-alert-enabled: var(--recursica-color-on-alert-default-interactive-text-default);
  --recursica-button-color-label-text-on-alert-hover: var(--recursica-color-on-alert-default-interactive-text-hover);
  --recursica-button-color-label-text-on-alert-disabled: var(--recursica-color-on-alert-default-interactive-text-disabled);
  --recursica-button-color-outline-on-success-enabled: var(--recursica-color-on-success-default-interactive-text-default);
  --recursica-button-color-outline-on-success-hover: var(--recursica-color-on-success-default-interactive-text-hover);
  --recursica-button-color-outline-on-success-disabled: var(--recursica-color-on-success-default-interactive-text-disabled);
  --recursica-button-color-label-text-on-success-enabled: var(--recursica-color-on-success-default-interactive-text-default);
  --recursica-button-color-label-text-on-success-hover: var(--recursica-color-on-success-default-interactive-text-hover);
  --recursica-button-color-label-text-on-success-disabled: var(--recursica-color-on-success-default-interactive-text-disabled);
  --recursica-button-color-outline-on-1-scale-enabled: var(--recursica-color-on-1-scale-default-interactive-text-default);
  --recursica-button-color-outline-on-1-scale-hover: var(--recursica-color-on-1-scale-default-interactive-text-hover);
  --recursica-button-color-outline-on-1-scale-disabled: var(--recursica-color-on-1-scale-default-interactive-text-disabled);
  --recursica-button-color-label-text-on-1-scale-enabled: var(--recursica-color-on-1-scale-default-interactive-text-default);
  --recursica-button-color-label-text-on-1-scale-hover: var(--recursica-color-on-1-scale-default-interactive-text-hover);
  --recursica-button-color-label-text-on-1-scale-disabled: var(--recursica-color-on-1-scale-default-interactive-text-disabled);
  --recursica-button-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-button-size-default-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-button-size-default-spacing: var(--recursica-size-spacer-default);
  --recursica-button-size-default-icon-padding: var(--recursica-size-spacer-1-5x);
  --recursica-button-size-small-horizontal-padding: var(--recursica-size-spacer-default);
  --recursica-button-size-small-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-button-size-small-icon-padding: var(--recursica-size-spacer-0-5x);
  --recursica-button-size-min-width: 80px;
  --recursica-button-size-content-max-width: 320px;
  --recursica-button-size-icon-size: 20px;
  --recursica-button-size-default-fixed: 48px;
  --recursica-button-size-small-fixed: 32px;
  --recursica-carousel-size-spacing: var(--recursica-size-spacer-2x);
  --recursica-carousel-size-spacing-mobile: var(--recursica-size-spacer-default);
  --recursica-cart-item-color-surface: var(--recursica-color-surface-default);
  --recursica-cart-item-color-image-background: var(--recursica-color-white-100);
  --recursica-cart-item-color-image-stroke: var(--recursica-color-stroke-default);
  --recursica-cart-item-color-text-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-cart-item-color-text-subtle: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-cart-item-color-bottom-divider: var(--recursica-color-stroke-default);
  --recursica-cart-item-size-horizontal-spacing: var(--recursica-size-spacer-2x);
  --recursica-cart-item-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-cart-item-size-vertical-spacing: var(--recursica-size-spacer-2x);
  --recursica-cart-item-size-content-spacing-small: var(--recursica-size-spacer-default);
  --recursica-cart-item-size-content-spacing-large: var(--recursica-size-spacer-2x);
  --recursica-checkbox-color-enabled: var(--recursica-color-on-background-interactive-text-default);
  --recursica-checkbox-color-disabled: var(--recursica-color-on-background-interactive-text-disabled);
  --recursica-checkbox-color-icon-enabled: var(--recursica-color-on-interactive-default);
  --recursica-checkbox-color-icon-disabled: var(--recursica-color-on-interactive-disabled);
  --recursica-banner-size-text-max-width: 500px;
  --recursica-checkbox-size-spacing-stacked: var(--recursica-size-spacer-default);
  --recursica-chip-color-label-unselected: var(--recursica-color-on-background-high-emphasis);
  --recursica-chip-color-label-selected: var(--recursica-color-on-interactive-default);
  --recursica-chip-color-background-selected: var(--recursica-color-interactive-default);
  --recursica-chip-color-background-error: var(--recursica-color-alert-default);
  --recursica-chip-color-stroke-unselected: var(--recursica-color-stroke-default);
  --recursica-chip-color-stroke-error: var(--recursica-color-stroke-error);
  --recursica-chip-color-label-error: var(--recursica-color-on-background-alert);
  --recursica-chip-color-label-on-error: var(--recursica-color-on-alert-default-high-emphasis);
  --recursica-chip-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-dashboard-card-color-background: var(--recursica-color-surface-default);
  --recursica-dashboard-card-color-title: var(--recursica-color-on-surface-high-emphasis);
  --recursica-dashboard-card-color-subtitle: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-dashboard-card-color-icon: var(--recursica-color-on-surface-high-emphasis);
  --recursica-dashboard-card-color-border: var(--recursica-color-stroke-default);
  --recursica-dashboard-card-size-padding: var(--recursica-size-spacer-2x);
  --recursica-dashboard-card-size-horizontal-spacing: var(--recursica-size-spacer-default);
  --recursica-dashboard-card-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-dashboard-card-size-icon-size: 24px;
  --recursica-date-picker-color-background: var(--recursica-color-surface-default);
  --recursica-date-picker-color-stroke: var(--recursica-color-stroke-default);
  --recursica-date-picker-color-background-date-selected: var(--recursica-color-1-scale-default);
  --recursica-date-picker-color-date-selected: var(--recursica-color-on-1-scale-default-high-emphasis);
  --recursica-date-picker-color-date-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-date-picker-color-date-hover: var(--recursica-color-surface-hover);
  --recursica-date-picker-color-date-disabled: var(--recursica-color-on-surface-disabled);
  --recursica-date-picker-size-height: 400px;
  --recursica-date-picker-size-width: 360px;
  --recursica-date-picker-size-padding: var(--recursica-size-spacer-1-5x);
  --recursica-date-picker-size-spacing: var(--recursica-size-spacer-2x);
  --recursica-date-picker-size-row-spacing: var(--recursica-size-spacer-default);
  --recursica-date-picker-size-button-spacing: var(--recursica-size-spacer-default);
  --recursica-date-picker-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-date-picker-size-date-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-date-picker-size-date-padding: var(--recursica-size-spacer-0-5x);
  --recursica-date-picker-size-date-size: 40px;
  --recursica-date-picker-size-month-year-height: 40px;
  --recursica-date-picker-size-month-year-width: 72px;
  --recursica-divider-color-stroke: var(--recursica-color-stroke-default);
  --recursica-dropdown-color-default: var(--recursica-color-stroke-default);
  --recursica-dropdown-color-focus: var(--recursica-color-stroke-focused);
  --recursica-dropdown-color-selected: var(--recursica-color-stroke-selected);
  --recursica-dropdown-color-error: var(--recursica-color-stroke-error);
  --recursica-dropdown-color-disabled: var(--recursica-color-stroke-disabled);
  --recursica-dropdown-color-background-input: var(--recursica-color-surface-default);
  --recursica-dropdown-color-background-input-disabled: var(--recursica-color-surface-disabled);
  --recursica-dropdown-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-dropdown-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-dropdown-size-vertical-padding: var(--recursica-size-spacer-1-5x);
  --recursica-dropdown-size-spacing: var(--recursica-size-spacer-default);
  --recursica-dropdown-size-min-width: 120px;
  --recursica-dropdown-size-max-width: 460px;
  --recursica-dropdown-size-input-height: 48px;
  --recursica-file-upload-color-file-stroke: var(--recursica-color-stroke-default);
  --recursica-file-upload-color-file-stroke-error: var(--recursica-color-stroke-error);
  --recursica-file-upload-color-title-default: var(--recursica-color-on-background-high-emphasis);
  --recursica-file-upload-color-descriptive-text-default: var(--recursica-color-on-background-medium-emphasis);
  --recursica-file-upload-color-title-error: var(--recursica-color-on-background-alert);
  --recursica-file-upload-color-descriptive-text-error: var(--recursica-color-on-background-alert);
  --recursica-file-upload-color-icon: var(--recursica-color-on-background-high-emphasis);
  --recursica-file-upload-color-icon-error: var(--recursica-color-on-background-alert);
  --recursica-file-upload-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-file-upload-size-vertical-spacing: var(--recursica-size-spacer-default);
  --recursica-file-upload-size-horizontal-padding: var(--recursica-size-spacer-default);
  --recursica-file-upload-size-vertical-padding: var(--recursica-size-spacer-0-5x);
  --recursica-file-upload-size-max-width: 460px;
  --recursica-file-upload-size-min-width: 150px;
  --recursica-footer-color-background: var(--recursica-color-1-scale-default);
  --recursica-footer-color-form-background: var(--recursica-color-1-scale-500);
  --recursica-footer-color-text-default: var(--recursica-color-on-1-scale-default-high-emphasis);
  --recursica-footer-color-form-text-background: var(--recursica-color-on-1-scale-500-high-emphasis);
  --recursica-footer-color-outline-button: var(--recursica-color-on-1-scale-default-interactive-text-default);
  --recursica-footer-color-accordions-mobile: var(--recursica-color-on-1-scale-default-interactive-text-default);
  --recursica-footer-color-logo: var(--recursica-color-white-100);
  --recursica-footer-color-social-icons: var(--recursica-color-on-1-scale-default-interactive-text-default);
  --recursica-footer-size-radius: var(--recursica-size-border-radius-0x);
  --recursica-footer-size-desktop-tablet-padding: 40px;
  --recursica-footer-size-mobile-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-footer-size-mobile-vertical-padding: 48px;
  --recursica-footer-size-form-padding: var(--recursica-size-spacer-2x);
  --recursica-footer-size-navigation-links-spacing: 64px;
  --recursica-footer-size-spacing-extra-small: var(--recursica-size-spacer-0-5x);
  --recursica-footer-size-spacing-small: var(--recursica-size-spacer-default);
  --recursica-footer-size-spacing-medium: var(--recursica-size-spacer-2x);
  --recursica-footer-size-spacing-large: var(--recursica-size-spacer-3x);
  --recursica-footer-size-desktop-min-width: 1200px;
  --recursica-footer-size-tablet-max-width: 960px;
  --recursica-footer-size-tablet-min-width: 768px;
  --recursica-footer-size-mobile-min-width: 320px;
  --recursica-footer-size-mobile-max-width: 480px;
  --recursica-form-icon-color-icon: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-form-icon-color-icon-disabled: var(--recursica-color-on-surface-disabled);
  --recursica-form-icon-color-trailing-icon: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-form-icon-color-trailing-icon-disabled: var(--recursica-color-on-surface-disabled);
  --recursica-form-icon-size-icon-size: 24px;
  --recursica-form-label-size-label-vertical-padding: var(--recursica-size-spacer-0-5x);
  --recursica-form-label-color-label: var(--recursica-color-on-background-high-emphasis);
  --recursica-form-label-color-optional indicator: var(--recursica-color-on-background-medium-emphasis);
  --recursica-form-label-color-assistive text: var(--recursica-color-on-background-medium-emphasis);
  --recursica-form-label-color-error message: var(--recursica-color-on-background-alert);
  --recursica-form-label-size-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-form-label-size-inline-height: 48px;
  --recursica-form-label-size-inline-width: 224px;
  --recursica-form-value+placeholder-color-value-default: var(--recursica-color-on-background-high-emphasis);
  --recursica-form-value+placeholder-color-value-disabled: var(--recursica-color-on-background-disabled);
  --recursica-form-value+placeholder-color-placeholder-default: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-form-value+placeholder-color-placeholder-disabled: var(--recursica-color-on-surface-disabled);
  --recursica-form-value+placeholder-size-value-vertical-padding: var(--recursica-size-spacer-0-5x);
  --recursica-gift-gallery-color-background: var(--recursica-color-1-scale-50);
  --recursica-gift-gallery-color-card-title: var(--recursica-color-on-7-scale-100-high-emphasis);
  --recursica-gift-gallery-color-gift-card-background: var(--recursica-color-surface-default);
  --recursica-gift-gallery-color-gift-title: var(--recursica-color-on-surface-high-emphasis);
  --recursica-gift-gallery-color-gift-secondary-text: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-gift-gallery-size-padding: var(--recursica-size-spacer-4x);
  --recursica-gift-gallery-size-gift-card-padding: var(--recursica-size-spacer-default);
  --recursica-gift-gallery-size-spacing-small: var(--recursica-size-spacer-default);
  --recursica-gift-gallery-size-spacing-medium: var(--recursica-size-spacer-2x);
  --recursica-gift-gallery-size-gift-card-border-radius: var(--recursica-size-border-radius-0-5x);
  --recursica-gift-gallery-size-max-width: 650px;
  --recursica-header-color-background: var(--recursica-color-surface-default);
  --recursica-header-color-icons: var(--recursica-color-on-surface-high-emphasis);
  --recursica-header-color-text-bag-count: var(--recursica-color-on-surface-high-emphasis);
  --recursica-header-size-horizontal-padding: 40px;
  --recursica-header-size-mobile-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-header-size-vertical-padding: var(--recursica-size-spacer-2x);
  --recursica-header-size-action-spacing: var(--recursica-size-spacer-3x);
  --recursica-header-size-icon-spacing: var(--recursica-size-spacer-2x);
  --recursica-header-size-shopping-bag-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-header-size-navigation-link-spacing: var(--recursica-size-spacer-1-5x);
  --recursica-header-size-desktop-min-width: 1200px;
  --recursica-header-size-tablet-max-width: 960px;
  --recursica-header-size-tablet-min-width: 768px;
  --recursica-header-size-mobile-max-width: 480px;
  --recursica-header-size-mobile-min-width: 320px;
  --recursica-journal-card-color-title: var(--recursica-color-on-background-high-emphasis);
  --recursica-journal-card-color-body-subtle: var(--recursica-color-on-background-medium-emphasis);
  --recursica-journal-card-size-image-content-spacing: var(--recursica-size-spacer-2x);
  --recursica-journal-card-size-title-description-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-menu-color-surface: var(--recursica-color-surface-default);
  --recursica-menu-color-stroke: var(--recursica-color-stroke-default);
  --recursica-menu-size-vertical-padding: var(--recursica-size-spacer-default);
  --recursica-menu-size-horizontal-padding: var(--recursica-size-spacer-default);
  --recursica-menu-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-menu-size-min-width: 120px;
  --recursica-menu-size-max-width: 460px;
  --recursica-menu-item-color-default: var(--recursica-color-surface-default);
  --recursica-menu-item-color-hover: var(--recursica-color-surface-hover);
  --recursica-menu-item-color-selected: var(--recursica-color-surface-selected);
  --recursica-menu-item-color-focused: var(--recursica-color-surface-focused);
  --recursica-menu-item-color-label-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-menu-item-color-label-disabled: var(--recursica-color-on-surface-disabled);
  --recursica-menu-item-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-menu-item-size-vertical-padding: var(--recursica-size-spacer-2x);
  --recursica-menu-item-size-spacing: var(--recursica-size-spacer-default);
  --recursica-modal-color-background: var(--recursica-color-surface-default);
  --recursica-modal-color-title: var(--recursica-color-on-surface-high-emphasis);
  --recursica-modal-color-divider: var(--recursica-color-stroke-default);
  --recursica-modal-size-button-spacing: var(--recursica-size-spacer-default);
  --recursica-modal-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-modal-size-horizontal-padding: var(--recursica-size-spacer-3x);
  --recursica-modal-size-vertical-padding: var(--recursica-size-spacer-2x);
  --recursica-modal-size-desktop-width: 800px;
  --recursica-modal-size-tablet-width: 600px;
  --recursica-modal-size-mobile-max-width: 448px;
  --recursica-modal-size-mobile-min-width: 288px;
  --recursica-orders-and-subscriptions-color-background-default: var(--recursica-color-surface-default);
  --recursica-orders-and-subscriptions-color-background-inactive: var(--recursica-color-neutral-default);
  --recursica-orders-and-subscriptions-color-image-background: var(--recursica-color-neutral-default);
  --recursica-orders-and-subscriptions-color-image-background-inactive: var(--recursica-color-neutral-100);
  --recursica-orders-and-subscriptions-color-text-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-orders-and-subscriptions-color-text-item-count-default: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-orders-and-subscriptions-color-text-inactive: var(--recursica-color-on-neutral-default-high-emphasis);
  --recursica-orders-and-subscriptions-color-text-item-count-inactive: var(--recursica-color-on-neutral-default-medium-emphasis);
  --recursica-orders-and-subscriptions-color-stroke: var(--recursica-color-stroke-default);
  --recursica-orders-and-subscriptions-size-padding: var(--recursica-size-spacer-2x);
  --recursica-orders-and-subscriptions-size-spacing-extra-small: var(--recursica-size-spacer-0-5x);
  --recursica-orders-and-subscriptions-size-spacing-small: var(--recursica-size-spacer-default);
  --recursica-orders-and-subscriptions-size-spacing-medium: var(--recursica-size-spacer-1-5x);
  --recursica-orders-and-subscriptions-size-spacing-large: var(--recursica-size-spacer-3x);
  --recursica-orders-and-subscriptions-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-orders-and-subscriptions-size-desktop-min-width: 696px;
  --recursica-orders-and-subscriptions-size-mobile-min-width: 280px;
  --recursica-order-details-color-background: var(--recursica-color-neutral-default);
  --recursica-order-details-color-background-total-saved: var(--recursica-color-1-scale-100);
  --recursica-order-details-color-text-default: var(--recursica-color-on-neutral-default-high-emphasis);
  --recursica-order-details-color-highlight-text: var(--recursica-color-on-1-scale-100-high-emphasis);
  --recursica-order-details-color-text-discount: var(--recursica-color-success-default);
  --recursica-order-details-color-stroke: var(--recursica-color-stroke-default);
  --recursica-order-details-size-padding: var(--recursica-size-spacer-2x);
  --recursica-order-details-size-vertical-spacing-small: var(--recursica-size-spacer-0-5x);
  --recursica-order-details-size-vertical-spacing-large: var(--recursica-size-spacer-2x);
  --recursica-order-details-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-order-details-size-min-width: 280px;
  --recursica-order-details-size-max-width: 600px;
  --recursica-pagination-color-background-hover-unselected: var(--recursica-color-surface-hover);
  --recursica-pagination-color-background-selected: var(--recursica-color-interactive-default);
  --recursica-pagination-color-background-hover-selected: var(--recursica-color-interactive-hover);
  --recursica-pagination-color-page-number-default: var(--recursica-color-on-background-interactive-text-default);
  --recursica-pagination-color-page-selected: var(--recursica-color-on-interactive-default);
  --recursica-pagination-color-icon-color: var(--recursica-color-on-background-medium-emphasis);
  --recursica-pagination-size-number-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-pagination-size-page-number-size: 24px;
  --recursica-panel-color-background: var(--recursica-color-surface-default);
  --recursica-panel-color-title: var(--recursica-color-on-surface-high-emphasis);
  --recursica-panel-size-body-padding: var(--recursica-size-spacer-3x);
  --recursica-partner-card-color-background: var(--recursica-color-surface-default);
  --recursica-partner-card-color-partner-logo-background: var(--recursica-color-surface-default);
  --recursica-partner-card-color-text: var(--recursica-color-on-surface-high-emphasis);
  --recursica-partner-card-color-view-all-card-background: var(--recursica-color-1-scale-50);
  --recursica-partner-card-color-view-all-icon: var(--recursica-color-1-scale-default);
  --recursica-partner-card-color-stroke: var(--recursica-color-stroke-default);
  --recursica-partner-card-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-partner-card-size-padding-small: var(--recursica-size-spacer-default);
  --recursica-partner-card-size-padding-large: var(--recursica-size-spacer-1-5x);
  --recursica-partner-card-size-image-fixed-height: 128px;
  --recursica-partner-card-size-card-fixed-height: 236px;
  --recursica-product-card-color-image-background: var(--recursica-color-neutral-default);
  --recursica-product-card-color-title: var(--recursica-color-on-background-high-emphasis);
  --recursica-product-card-color-text-subtitle: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-product-card-color-text-strikethrough: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-product-card-size-content-vertical-spacing: var(--recursica-size-spacer-default);
  --recursica-product-card-size-card-vertical-spacing: var(--recursica-size-spacer-2x);
  --recursica-product-card-size-price-horizontal-spacing: var(--recursica-size-spacer-default);
  --recursica-product-card-size-footer-horizontal-spacing: var(--recursica-size-spacer-2x);
  --recursica-product-card-size-min-width: 128px;
  --recursica-product-detail-color-text-default: var(--recursica-color-on-background-high-emphasis);
  --recursica-product-detail-color-text-subtle: var(--recursica-color-on-background-medium-emphasis);
  --recursica-product-detail-color-purchase-options-background: var(--recursica-color-surface-default);
  --recursica-product-detail-color-purchase-options-stroke: var(--recursica-color-stroke-default);
  --recursica-product-detail-size-vertical-spacing-large: var(--recursica-size-spacer-2x);
  --recursica-product-detail-size-vertical-spacing-small: var(--recursica-size-spacer-default);
  --recursica-product-detail-size-horizontal-spacing-small: var(--recursica-size-spacer-default);
  --recursica-product-detail-size-purchase-options-padding: var(--recursica-size-spacer-2x);
  --recursica-product-detail-size-purchase-options-border-radius: var(--recursica-size-border-radius-default);
  --recursica-product-detail-size-max-width: 600px;
  --recursica-product-list-color-background: var(--recursica-color-surface-default);
  --recursica-product-list-color-background-image: var(--recursica-color-neutral-default);
  --recursica-product-list-color-text-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-product-list-color-text-strikethrough: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-product-list-size-padding: var(--recursica-size-spacer-2x);
  --recursica-product-list-size-vertical-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-product-list-size-horizontal-spacing: var(--recursica-size-spacer-2x);
  --recursica-product-list-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-progress-bar-color-bar: var(--recursica-color-neutral-300);
  --recursica-progress-bar-color-value: var(--recursica-color-1-scale-default);
  --recursica-progress-bar-color-text-percent-progress: var(--recursica-color-on-background-medium-emphasis);
  --recursica-progress-bar-size-vertical-spacing: var(--recursica-size-spacer-default);
  --recursica-promo-banner-color-background: var(--recursica-color-1-scale-default);
  --recursica-promo-banner-color-text: var(--recursica-color-on-1-scale-default-high-emphasis);
  --recursica-promo-banner-size-vertical-padding: var(--recursica-size-spacer-default);
  --recursica-promo-banner-size-min-width: 320px;
  --recursica-radio-color-selected: var(--recursica-color-on-background-interactive-text-default);
  --recursica-radio-color-selected-disabled: var(--recursica-color-on-background-interactive-text-disabled);
  --recursica-radio-color-unselected: var(--recursica-color-on-background-interactive-text-default);
  --recursica-radio-color-unselected-disabled: var(--recursica-color-on-background-interactive-text-disabled);
  --recursica-radio-size-spacing-stacked: var(--recursica-size-spacer-default);
  --recursica-radio-size-spacing-individual: var(--recursica-size-spacer-0-5x);
  --recursica-radio-size-spacing-group: var(--recursica-size-spacer-default);
  --recursica-radio-size-border-radius: var(--recursica-size-border-radius-2x);
  --recursica-radio-size-border-radius-inside: var(--recursica-size-border-radius-1-5x);
  --recursica-radio-size-dot: 10px;
  --recursica-radio-size-label-vertical-padding: var(--recursica-size-spacer-0-5x);
  --recursica-radio-size-radio-size: 16px;
  --recursica-panel-size-header-horizontal-padding: var(--recursica-size-spacer-3x);
  --recursica-panel-size-header-vertical-padding: var(--recursica-size-spacer-2x);
  --recursica-panel-size-horizontal-spacing: var(--recursica-size-spacer-2x);
  --recursica-rating-color-star-active: var(--recursica-color-1-scale-default);
  --recursica-rating-color-star-inactive: var(--recursica-color-on-background-disabled);
  --recursica-rating-color-counter-default: var(--recursica-color-on-background-medium-emphasis);
  --recursica-rating-color-counter-link: var(--recursica-color-on-background-interactive-text-default);
  --recursica-rating-color-counter-link-hover: var(--recursica-color-on-background-interactive-text-hover);
  --recursica-rating-size-star-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-rating-size-icon-size: 16px;
  --recursica-review-list-color-text-default: var(--recursica-color-on-background-high-emphasis);
  --recursica-review-list-color-text-timestamp-and-helpful: var(--recursica-color-on-background-medium-emphasis);
  --recursica-review-list-color-text-verified-buyer: var(--recursica-color-1-scale-default);
  --recursica-review-list-color-icon-like-selected: var(--recursica-color-1-scale-default);
  --recursica-review-list-color-icon-dislike-unselected: var(--recursica-color-on-background-medium-emphasis);
  --recursica-review-list-color-stroke: var(--recursica-color-stroke-default);
  --recursica-review-list-size-vertical-padding: var(--recursica-size-spacer-3x);
  --recursica-review-list-size-vertical-spacing-small: var(--recursica-size-spacer-default);
  --recursica-review-list-size-vertical-spacing-medium: var(--recursica-size-spacer-2x);
  --recursica-review-list-size-vertical-spacing-large: var(--recursica-size-spacer-4x);
  --recursica-review-list-size-min-width: 280px;
  --recursica-streak-card-color-slider-base: var(--recursica-color-neutral-200);
  --recursica-streak-card-color-slider-completed: var(--recursica-color-1-scale-default);
  --recursica-streak-card-color-handle-stroke-next: var(--recursica-color-1-scale-200);
  --recursica-streak-card-color-handle-background-next: var(--recursica-color-neutral-50);
  --recursica-streak-card-color-handle-background-done: var(--recursica-color-1-scale-default);
  --recursica-streak-card-color-title-text: var(--recursica-color-on-surface-high-emphasis);
  --recursica-streak-card-color-secondary-text: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-streak-card-color-icon-color: var(--recursica-color-1-scale-default);
  --recursica-streak-card-color-streak-completed-background: var(--recursica-color-1-scale-default);
  --recursica-streak-card-color-streak-completed-stroke: var(--recursica-color-1-scale-200);
  --recursica-streak-card-color-streak-icon-completed: var(--recursica-color-on-1-scale-default-high-emphasis);
  --recursica-streak-card-color-streak-next: var(--recursica-color-1-scale-default);
  --recursica-streak-card-color-streak-disabled: var(--recursica-color-on-surface-disabled);
  --recursica-streak-card-size-spacing-small: var(--recursica-size-spacer-2x);
  --recursica-streak-card-size-spacing-medium: var(--recursica-size-spacer-3x);
  --recursica-streak-card-size-padding: var(--recursica-size-spacer-2x);
  --recursica-streak-card-size-max-width: 650px;
  --recursica-search-color-stroke-default: var(--recursica-color-stroke-default);
  --recursica-search-color-stroke-focus: var(--recursica-color-stroke-focused);
  --recursica-search-color-stroke-valued: var(--recursica-color-stroke-selected);
  --recursica-search-color-stroke-disabled: var(--recursica-color-stroke-disabled);
  --recursica-search-color-background-default: var(--recursica-color-background-default);
  --recursica-search-color-background-disabled: var(--recursica-color-background-disabled);
  --recursica-search-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-search-size-vertical-padding: var(--recursica-size-spacer-1-5x);
  --recursica-search-size-spacing-inline: var(--recursica-size-spacer-2x);
  --recursica-search-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-search-size-input-height: 48px;
  --recursica-search-size-min-width: 224px;
  --recursica-search-size-max-width: 464px;
  --recursica-subscription-item-list-color-background-default: var(--recursica-color-surface-default);
  --recursica-subscription-item-list-color-background-image-default: var(--recursica-color-neutral-default);
  --recursica-subscription-item-list-color-background-unskip: var(--recursica-color-neutral-default);
  --recursica-subscription-item-list-color-background-image-unskip: var(--recursica-color-neutral-100);
  --recursica-subscription-item-list-color-text-product-title-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-subscription-item-list-color-text-strikethrough-default: var(--recursica-color-on-surface-medium-emphasis);
  --recursica-subscription-item-list-color-text-product-title-unskip: var(--recursica-color-on-neutral-default-high-emphasis);
  --recursica-subscription-item-list-color-text-strikethorugh-unskip: var(--recursica-color-on-neutral-default-medium-emphasis);
  --recursica-subscription-item-list-color-stroke: var(--recursica-color-stroke-default);
  --recursica-subscription-item-list-size-padding: var(--recursica-size-spacer-2x);
  --recursica-subscription-item-list-size-horizontal-spacing-small: var(--recursica-size-spacer-default);
  --recursica-subscription-item-list-size-horizontal-spacing-large: var(--recursica-size-spacer-2x);
  --recursica-subscription-item-list-size-vertical-spacing: var(--recursica-size-spacer-default);
  --recursica-subscription-item-list-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-sub-toggle-color-background: var(--recursica-color-1-scale-100);
  --recursica-sub-toggle-color-background-offer: var(--recursica-color-neutral-default);
  --recursica-sub-toggle-color-stroke: var(--recursica-color-1-scale-default);
  --recursica-sub-toggle-color-primary-text: var(--recursica-color-1-scale-default);
  --recursica-sub-toggle-color-secondary-text: var(--recursica-color-on-1-scale-100-high-emphasis);
  --recursica-sub-toggle-color-tertiary-text: var(--recursica-color-on-1-scale-100-medium-emphasis);
  --recursica-switch-color-thumb-unselected: var(--recursica-color-on-interactive-default);
  --recursica-switch-color-thumb-unselected-disabled: var(--recursica-color-on-interactive-disabled);
  --recursica-switch-color-thumb-selected: var(--recursica-color-on-interactive-default);
  --recursica-switch-color-thumb-selected-disabled: var(--recursica-color-on-interactive-disabled);
  --recursica-switch-color-track-selected-enabled: var(--recursica-color-interactive-default);
  --recursica-switch-color-track-selected-disabled: var(--recursica-color-interactive-disabled);
  --recursica-switch-color-track-unselected-disabled: var(--recursica-color-on-background-disabled);
  --recursica-switch-color-track-unselected-enabled: var(--recursica-color-on-background-medium-emphasis);
  --recursica-chip-size-horizontal-padding: var(--recursica-size-spacer-0-5x);
  --recursica-chip-size-vertical-padding: var(--recursica-size-spacer-default);
  --recursica-chip-size-spacing: var(--recursica-size-spacer-0-5x);
  --recursica-chip-size-icon-size: 16px;
  --recursica-checkbox-size-spacing-individual: var(--recursica-size-spacer-default);
  --recursica-checkbox-size-spacing-group: var(--recursica-size-spacer-default);
  --recursica-checkbox-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-checkbox-size-checkbox-size: 20px;
  --recursica-switch-size-spacing: var(--recursica-size-spacer-default);
  --recursica-switch-size-border-radius-track: var(--recursica-size-border-radius-3x);
  --recursica-switch-size-height: var(--recursica-size-spacer-3x);
  --recursica-tab-color-default-stroke: var(--recursica-color-stroke-default);
  --recursica-tab-color-selected-stroke: var(--recursica-color-stroke-selected);
  --recursica-tab-color-unselected: var(--recursica-color-on-background-medium-emphasis);
  --recursica-tab-color-selected: var(--recursica-color-on-background-interactive-text-default);
  --recursica-tab-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-tab-size-spacing: var(--recursica-size-spacer-default);
  --recursica-tab-size-icon-size: 20px;
  --recursica-tab-size-height: 48px;
  --recursica-tab-size-min-width: 120px;
  --recursica-tab-size-label-max-width: 200px;
  --recursica-text-field-color-default: var(--recursica-color-stroke-default);
  --recursica-text-field-color-focused: var(--recursica-color-stroke-focused);
  --recursica-text-field-color-valued: var(--recursica-color-stroke-selected);
  --recursica-text-field-color-error: var(--recursica-color-stroke-error);
  --recursica-text-field-color-disabled: var(--recursica-color-stroke-disabled);
  --recursica-text-field-color-background-input: var(--recursica-color-surface-default);
  --recursica-text-field-color-background-input-disabled: var(--recursica-color-surface-disabled);
  --recursica-text-field-size-border-radius: var(--recursica-size-border-radius-0x);
  --recursica-text-field-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-text-field-size-vertical-padding: var(--recursica-size-spacer-1-5x);
  --recursica-text-field-size-spacing: var(--recursica-size-spacer-default);
  --recursica-text-field-size-min-width: 140px;
  --recursica-text-field-size-max-width: 464px;
  --recursica-text-field-size-min-input-height: 48px;
  --recursica-text-field-color-read-only-background: var(--recursica-color-surface-disabled);
  --recursica-text-field-color-read-only-stroke: var(--recursica-color-stroke-disabled);
  --recursica-time-picker-size-max-width: 300px;
  --recursica-time-picker-size-vertical-spacing: var(--recursica-size-spacer-default);
  --recursica-time-picker-size-input-spacing: var(--recursica-size-spacer-default);
  --recursica-toast-color-background-default: var(--recursica-color-surface-default);
  --recursica-toast-size-vertical-padding: var(--recursica-size-spacer-default);
  --recursica-toast-size-horizontal-padding: var(--recursica-size-spacer-2x);
  --recursica-toast-size-spacing: var(--recursica-size-spacer-1-5x);
  --recursica-toast-size-min-width: 320px;
  --recursica-toast-size-max-width: 624px;
  --recursica-toast-size-icon-size: 24px;
  --recursica-toast-color-background-success: var(--recursica-color-success-default);
  --recursica-toast-color-background-error: var(--recursica-color-alert-default);
  --recursica-toast-color-text-default: var(--recursica-color-on-surface-high-emphasis);
  --recursica-toast-color-text-success: var(--recursica-color-on-success-default-high-emphasis);
  --recursica-toast-color-text-error: var(--recursica-color-on-alert-default-high-emphasis);
  --recursica-banner-size-mobile-horizontal-padding: 16px;
  --recursica-banner-size-desktop-horizontal-padding: 40px;
  --recursica-tooltip-color-background: var(--recursica-color-black-100);
  --recursica-tooltip-color-text: var(--recursica-color-white-100);
  --recursica-tooltip-size-horizontal-padding: var(--recursica-size-spacer-1-5x);
  --recursica-tooltip-size-vertical-padding: var(--recursica-size-spacer-default);
  --recursica-tooltip-size-beak-spacer: var(--recursica-size-spacer-default);
  --recursica-tooltip-size-border-radius: var(--recursica-size-border-radius-0-5x);
  --recursica-tooltip-size-max-width: 240px;
  --recursica-toast-color-stroke-default: var(--recursica-color-stroke-default);
  --recursica-project-id: cymbiotika;
  --recursica-project-type: ui-kit;
}

