.root {
  height: var(--recursica-ui-kit-components-button-size-default-height);
  min-width: var(--recursica-ui-kit-components-button-size-default-min-width);
  padding-left: var(--recursica-brand-dimensions-lg);
  padding-right: var(--recursica-brand-dimensions-lg);
  padding-top: 0;
  padding-bottom: 0;
  border-radius: var(--recursica-ui-kit-components-button-size-border-radius);

  &[data-size='sm'] {
    height: var(--recursica-ui-kit-components-button-size-small-height);
    min-width: var(--recursica-ui-kit-components-button-size-small-min-width);
    padding-left: var(--recursica-ui-kit-components-button-size-small-horizontal-padding);
    padding-right: var(--recursica-ui-kit-components-button-size-small-horizontal-padding);

    .section {
      width: var(--recursica-brand-dimensions-icon-sm);
      height: var(--recursica-brand-dimensions-icon-sm);
    }
  }

  &[data-variant='filled'] {
    background-color: var(--recursica-ui-kit-components-button-colors-background-solid);
    color: var(--recursica-ui-kit-components-button-colors-text-solid);

    &:not(:disabled):hover {
      background-color: var(--recursica-ui-kit-components-button-colors-background-solid-hover);
    }

    .loader {
      --button-color: var(--recursica-ui-kit-components-button-colors-text-solid);
    }
  }

  &[data-variant='outline'] {
    background-color: transparent;
    border-color: var(--recursica-ui-kit-components-button-colors-outline);
    color: var(--recursica-ui-kit-components-button-colors-outline);

    &:not(:disabled):hover {
      background-color: transparent;
      color: var(--recursica-ui-kit-components-button-colors-outline-hover);
    }
  }

  &[data-variant='transparent'] {
    background-color: transparent;
    color: var(--recursica-brand-layer-element-interactive-color);
  }

  &:disabled {
    opacity: var(--recursica-brand-state-disabled);
  }
}

.section {
  width: var(--recursica-ui-kit-components-button-size-default-icon);
  height: var(--recursica-ui-kit-components-button-size-default-icon);

  &[data-position='right'] {
    margin-left: var(--recursica-brand-dimensions-default);
  }

  &[data-position='left'] {
    margin-right: var(--recursica-brand-dimensions-default);
  }
}

.loader {
  --button-color: var(--recursica-brand-layer-element-interactive-color);
}